{% raw %}
groups:
- name: example
  rules:

  - alert: Service is down
    expr: up == 0
    for: 1m
    labels:
      severity: major
    annotations:
      summary: "Instance {{ $labels.instance }} is unreachable."

  - alert: CPU is high
    expr: (1 - avg by(job)(irate(node_cpu{mode='idle'}[5m]))) > .005
    for: 1m
    labels:
      severity: major
    annotations:
      summary: "Instance {{ $labels.instance }} CPU usage is very high."

  - alert: mem_threshold_exceeded
    expr: ((node_memory_MemTotal - node_memory_MemFree - node_memory_Cached) / (node_memory_MemTotal )) * 100  > 90
    for: 1m
    labels:
      severity: major
    annotations:
      summary: "Instance {{ $labels.instance }} memory is very high."

  - alert: filesystem_threshold_exceeded
    expr: node_filesystem_avail{mountpoint='/'} / node_filesystem_size * 100 < 20
    for: 1m
    labels:
      severity: major
    annotations:
      summary: "Instance {{ $labels.instance }} filesystem usage is very high."
{% endraw %}
